$primaryColor: #34948C;
$secondaryColor: #5AD273;
$lightColor: white;
$darkColor: black;
$greyTextColor: #777777;
$gradientColor: linear-gradient(90deg, rgba(52, 148, 140, 1) 17%, rgba(90, 210, 115, 1) 100%);


$max-content: 1280px;

$font-type: 'Poppins', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;

$font-body: 1rem;
$font-table: 0.9rem;
$font-headline: 1.5rem;
$font-btn: 1rem;

$regular: 400;
$medium: 500;
$bold: 700;